  * {
    background-color: #262a2f;
    color: #fff;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    margin-top: 30px;
    width: 70%;
  }

  .header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-text {
    color: orange;
  }

  .header-wrapper h2 {
    display: inline;
  }

  .add-butn,
  .alltasks-butn {
    background-color: orange;
    color: #ffffff;
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
  }

  .cancel-butn {
    background-color: gray;
    color: #000;
    padding: 7px 20px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: 10px;
  }

  .content {
    margin-top: 20px;
  }

  .box,
  .add-form {
    border: 2px solid lightsalmon;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightsalmon;
    margin-bottom: 15px;
    padding: 10px;
  }

  .box-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height: 30%; */
    /* margin-top: 5px; */
  }

  .icons-group i {
    margin-right: 10px;
    font-size: 20px;
  }

  .fa-trash-can {
    color: rgb(196, 64, 64);
  }

  /* .fa-pen-to-square, */
  .fa-regular {
    color: rgb(74, 74, 179)
  }

  .completed {
    color: rgb(101, 221, 101);
  }

  .date,
  .time {
    color: green;
    margin-right: 10px;
  }

  .dued {
    color: red;
    margin-right: 10px;
  }

  /*Add Form*/

  .add-form {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .form-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
  }

  .form-input input,
  .form-input textarea {
    border-radius: 10px;
    padding: 7px;
  }

  .form-input textarea {
    border: 2px solid #000;
  }

  .form-input .add-butn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-input .close-butn {
    margin-left: 10px;
  }

  .butn-box {
    display: flex;

  }

  @media screen and (max-width: 480px) {

    .form-input {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .box-header h4 {
      width: 50%;
    }

    .icons-group i {
      font-size: 18px;
    }

  }